:root {
  /* Colors */
  --main-text-color: #434455;
  --second-text-color: #8e8f99;
  --main-title-color: #2e2f42;
  --main-hover-cl: #404bbf;
  --main-light-bg: #ffffff;
  --main-dark-bg: #2e2f42;
  --main-btn-cl: #4d5ae5;
  --main-btn-bg: #f4f4fd;
  --cornflower: #e7e9fc;

  --items: 4;
  --indent-vertical: 24px;
  --indent-horizontal: var(--indent-vertical);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | Common styles
  |============================
*/

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-light-bg);
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link,
a {
  display: block;
  text-decoration: none;
  color: currentColor;
}
.list,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn,
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input {
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/**
  |============================
  | Base styles
  |============================
*/
.main {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-vertical);
  column-gap: var(--indent-horizontal);
}
.card-set-items {
  flex-basis: calc(
    (100%-var(--indent-vertical) * (var(--items)-1)) / var(--items)
  );
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
  /* outline-offset: -2px; */
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-dark-title {
  color: var(--main-title-color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item {
}
.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px;
}
.header-link:hover,
.header-link:focus {
  color: var(--main-hover-cl);
}
.header-link:active {
  color: #4d5ae5;
}
.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--main-hover-cl);
}
.header-address-link:active {
  color: #4d5ae5;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | Main styles webstudio page
  |============================
*/
/* Hero-section */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background: var(--main-dark-bg);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
}

.hero-title {
  display: flex;
  max-width: 496px;
  flex-direction: column;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 48px;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--main-btn-cl);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-hover-cl);
}
/* About-Us-section */

.about-us {
  padding: 120px 0;
}
.about-us-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-us-subtitle {
  margin-bottom: 8px;
}
.about-us-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.about-us-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.about-us-icon {
}

/* Projects-section */

.projects {
  padding-bottom: 120px;
}
.projects-title {
  margin-bottom: 72px;
}
.projects-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.projects-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
/* Our-team-section */
.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.our-team-title {
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.our-team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px 0;
}
.our-team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 8px;
}

.our-team-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-link-item {
  width: 40px;
  height: 40px;
}
.our-team-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-link:hover,
.our-team-link:focus {
  background-color: #404bbf;
}
.our-team-icon {
  fill: #f4f4fd;
}
/* Customers section */

.customers-section {
  padding: 120px 0;
}
.customers-container {
}
.customers-title {
  margin-bottom: 72px;
}
.cutomers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: calc((100%-120px) / 6);
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}
/**
   |============================
   | Main styles portfolio page
   |============================
 */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-nav {
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.portfolio-nav-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-button {
  min-width: 116px;
  min-height: 48;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-btn-cl);
  background-color: var(--main-btn-bg);
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
  color: #ffffff;
  background-color: var(--main-hover-cl);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  --items: 3;
  --indent-horizontal: 24px;
  --indent-vertical: 48px;
}
.portfolio-item {
  position: relative;
  flex-basis: calc((100% - 24px * 2) / 3);
  overflow: hidden;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover
  .portfolio-text-container
  .portfolio-link:focus
  .portfolio-text-container {
  transform: translateY(0);
}
.portfolio-text-container {
  position: relative;

  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: left;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  background-color: #ffffff;

  z-index: 5;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  display: block;
  position: absolute;
  top: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  padding: 40px 32px;

  background-color: #4d5ae5;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-dark-bg);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  flex-shrink: 0;
  max-width: 264px;
  margin-right: 120px;
}
.footer-social-container {
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-ligth-title {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social-text {
  display: block;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.footer-social-item {
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #4d5ae5;

  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-subscribe-conteiner {
  width: 453px;
  height: 80px;
  flex-shrink: 0;
}
.footer-subscribe-text {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  color: #fff;
}
.footer-subscribe-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.footer-subscribe-field {
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  display: inline-flex;
  min-width: 165px;
  height: 40px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 8px 24px;

  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  transition: background-color var(--anim);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}
.footer-subscribe-icon {
  margin-left: 16px;
}
/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--anim), visibility var(--anim);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 408px;
  min-height: 584px;

  padding: 72px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border var(--anim);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-icon {
  stroke: #2e2f42;

  transition: fill var(--anim);
}
.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: #ffffff;
}
/* Modal window form stiles */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-caption {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;

  width: 360px;

  color: var(--main-title-color);
}
.modal-form-container {
  margin-bottom: 8px;
}
.modal-form-field {
  display: block;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--second-text-color);
  margin-bottom: 4px;
}
.modal-form-input-wrap {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  flex-shrink: 0;

  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--anim);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: transparent;
  outline: transparent;
  resize: none;

  transition: border-color var(--anim);
}
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}
.modal-form-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill var(--anim);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}
.modal-form-comment-container {
  margin-bottom: 16px;
}
/* Agreement checkbox */
.modal-form-agreement-container {
  margin-bottom: 24px;
}
.modal-form-agreement {
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  gap: 8px;

  color: var(--second-text-color);
}
.modal-form-checkbox {
}

.modal-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  flex-shrink: 0;

  transition: background-color var(--anim), border var(--anim), fill var(--anim);

  fill: transparent;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-form-checkbox-icon {
  opacity: 0;
  transition: opacity var(--anim);
}
.modal-form-checkbox:checked
  + .modal-form-agreement
  > .modal-form-custom-checkbox {
  border-color: var(--main-hover-cl);
  background-color: var(--main-hover-cl);
  border: none;
  fill: var(--main-btn-bg);
}
.modal-form-checkbox:checked
  + .modal-form-agreement
  .modal-form-custom-checkbox
  > .modal-form-checkbox-icon {
  opacity: 1;
}

.modal-form-link {
  display: inline-block;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: #4d5ae5;
  text-decoration-line: underline;
}
.modal-form-submit-btn {
}
